<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# My Jupyter Notebook on IBM Watson Studio

## **Pascoal Coutinho**

IT Support Engineer


*I am interested in data science because I would like to learn more about data and it's importance too businesses. Furthermore, visualizing data to make informed decisions and see trends is very important and I would like to understand and develop these models*

### My code in cell 5 shows the sum of 12 * 12

In [4]:
12*12

144

[BBC News](https://www.bbc.co.uk/news)

Employee | Position | Contract
--- | --- | ---
*Bob* | `Director` | **Permanent**
1 | 2 | 3

---

BOB - Director - Permanent

***

John - Manager - Temporary

___

James - Sales - Freelance

> BlockQuote example: Hello, my name is pascoal and I studied computer science at university.